<div class="card">
  <div>
    Listagem de Tutores
  </div>
  <div class="tabela">
    <mat-card class="cabecalho">
      <div class="cell">
        CPF
      </div>
      <div class="cell">
        Nome
      </div>
      <div class="cell">
        Ver Detalhes
      </div>
      <div class="cell">
        Editar
      </div>
      <div class="cell">
        Excluir
      </div>
    </mat-card>
    <mat-card class="linha" *ngFor="let tutor of tutores">
      <div class="cell">
        {{ tutor.cpf }}
      </div>
      <div class="cell">
        {{ tutor.nome_normalizado }}
      </div>
      <div (click)="openDialogDetalhes(tutor)" style="cursor: pointer;" class="cell">
        <fa-icon [icon]="faMagnfyingGlass"></fa-icon>
      </div>
      <div (click)="openDialogEdit(tutor)" style="cursor: pointer;" class="cell">
        <fa-icon [icon]="faEdit"></fa-icon>
      </div>
      <div (click)="deletarTutor(tutor)" style="cursor: pointer;" class="cell">
        <fa-icon [icon]="faTrash"></fa-icon>
      </div>
    </mat-card>
  </div>
  <div (click)="openDialog()" class="float" style="cursor: pointer;">
    <fa-icon [icon]="faPlus"></fa-icon>
  </div>
</div>