<div class="card">
  <div>Listagem de Tutores</div>
  <div class="tabela">
    <mat-card class="cabecalho">
      <div class="cell">CPF</div>
      <div class="cell">Nome</div>
      <div class="cell">Ver Detalhes</div>
      <div class="cell">Alterar</div>
      <div class="cell">Excluir</div>
    </mat-card>
    <mat-card class="linha" *ngFor="let tutor of tutores">
      <div class="cell">
        {{ tutor.cpf }}
      </div>
      <div class="cell">
        {{ tutor.nomeNormalizado }}
      </div>
      <div
        (click)="openDialogDetalhes(tutor)"
        style="cursor: pointer"
        class="cell"
      >
        <a><fa-icon [icon]="faMagnfyingGlass"></fa-icon></a>
      </div>
      <div (click)="openDialogEdit(tutor)" style="cursor: pointer" class="cell">
        <a> <fa-icon [icon]="faEdit"></fa-icon></a>
      </div>
      <div (click)="apagarTutor(tutor)" style="cursor: pointer" class="cell">
        <a> <fa-icon [icon]="faTrash"></fa-icon></a>
      </div>
    </mat-card>
  </div>
  <a (click)="openDialog()" class="float">
    <fa-icon [icon]="faPlus"></fa-icon>
  </a>
</div>
