.home-card {
    margin: 20px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    
    
    .home-container {
      text-align: center;
  
      h1 {
        font-size: 2rem;
        color: #2ea564;
        font-weight: bold;
        margin-top: 20px;
      }
  
      .home-image {
        max-width: 40%;
        height: auto;
        margin: 20px 0;
        border-radius: 10px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
      }
      .about-us, .join-us, .feature {
        align-items: center;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-top: 20px;
    }
      section {
        margin: 20px 0;
        padding: 5px;
          
        .side-image {
          max-width: 25%;
          height: auto;
          margin: 20px 0;
          border-radius: 5px;
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
        }

        h2 {
          font-size: 1.5rem;
          color: #2ea564;
          font-weight: bold;
          margin: 10px 0;
        }
  
        p {
          font-size: 1.2rem;
          color: #333;
          margin: 2px 0;
          margin-left: 200px;
          margin-right: 200px;
        }
  
        ul {
            font-size: 1.2rem;
            list-style-type: none;
        }
        li {
            padding: 2px;
        }
      }
    }
  }