<mat-card class="home-card">
    <div class="home-container">
      <h1>Hotel de Pets</h1>
      <img src="/assets/images/homeimg.jpg" alt="Animal" class="home-image">
      
      <section class="feature">
        <h2>Principais Recursos</h2>
        <ul>
          <li>Cadastro e gerenciamento de informações dos pets</li>
          <li>Cadastro e gerenciamento de informações dos tutores</li>
          <li>Reservas de acomodações</li>
          <li>Agendamento de serviços adicionais</li>
          <li>Registro de observações e cuidados especiais</li>
          <li>Processos de check-in e check-out</li>
          <li>Inventário de alimentos e medicamentos</li>
          <li>Recursos de backup</li>
        </ul>
      </section>
  
      <section class="about-us">
        <h2>Quem Somos</h2>
        <p>Somos apaixonados por animais e estamos prontos para garantir que seu pet tenha uma estadia alegre e agradável.</p>
        <p>Na próxima vez que precisar viajar ou apenas dar um tempinho para si mesmo, confie no Hotel de Pets para cuidar do seu companheiro de quatro patas como se fosse parte da nossa própria família.</p>
        <img src="/assets/images/quemsomos.jpg" alt="Equipe" class="side-image">
      </section>
  
      <section class="join-us">
        <h2>Junte-se a Nós</h2>
        <p>Seja um dos nossos clientes e garanta o bem-estar e o conforto do seu pet durante a sua ausência!</p>
        <img src="/assets/images/junteseanos.jpg" alt="Equipe" class="side-image">
      </section>
    </div>
  </mat-card>