<mat-toolbar class="mat-elevation-z6">
  <div class="mat-toolbar-row">
    <span class="mat-toolbar-logo" (click)="irParaHome()">Hotel de Pets</span>
    <ul class="mat-toolbar-links">
      <li class="mat-toolbar-link"><a routerLink="/tutor">Tutor</a></li>
      <li class="mat-toolbar-link"><a routerLink="/pets">Pets</a></li>
      <li class="mat-toolbar-link"><a routerLink="/alimentos">Alimentos</a></li>
      <li class="mat-toolbar-link">
        <a routerLink="/medicamentos">Medicamentos</a>
      </li>
      <li class="mat-toolbar-link">
        <a routerLink="/hospedagem">Hospedagem</a>
      </li>
      <li class="mat-toolbar-link"><a routerLink="/servico">Serviço</a></li>
      <li class="mat-toolbar-link"><a routerLink="/reserva">Reserva</a></li>
    </ul>
  </div>
</mat-toolbar>
