<form [formGroup]="tutorForm">
  <mat-form-field [hideRequiredMarker]="false" appearance="fill">
    <mat-label>Nome Completo</mat-label>
    <input matInput formControlName="nome">
    <mat-hint>Preencha o nome completo do tutor</mat-hint>
    <mat-error *ngIf="tutorForm.controls['nome'].hasError('required')">É necessário preencher o nome completo do tutor</mat-error>
  </mat-form-field>
  <mat-form-field [hideRequiredMarker]="false" appearance="fill">
    <mat-label>Apelido</mat-label>
    <input matInput formControlName="nome_normalizado">
    <mat-hint>Preencha o apelido do tutor</mat-hint>
    <mat-error *ngIf="tutorForm.controls['nome_normalizado'].hasError('required')">É necessário preencher o apelido do tutor</mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>CPF do candidato</mat-label>
    <input maxlength="11" matInput formControlName="cpf" />
    <mat-error>CPF inválido</mat-error>
    <mat-hint>Preencha o CPF do tutor sem pontos e hífen. Ex: 00123456789</mat-hint>
    <mat-error>Cpf inválido</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input maxlength="50" matInput formControlName="email" />
    <mat-error *ngIf="tutorForm.controls['email'].hasError('email')">Email inválido</mat-error>
    <mat-error *ngIf="tutorForm.controls['email'].hasError('required')">É necessário preencher o email</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Telefone</mat-label>
    <input required matInput formControlName="telefone" />
    <mat-hint>Apenas números, incluindo o 9 após o DDD</mat-hint>
    <mat-error>Telefone inválido</mat-error>
  </mat-form-field>
  <button class="apertar" mat-stroked-button (click)="editar()">
    Finalizar Edição
  </button>
</form>