<form [formGroup]="tutorForm">
  <mat-form-field appearance="fill">
    <mat-label>Nome Completo</mat-label>
    <input matInput formControlName="nome" />
    <mat-hint>Preencha o nome do tutor</mat-hint>
    <mat-error *ngIf="tutorForm.controls['nome'].hasError('required')"
      >É necessário preencher o nome completo do tutor</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>CPF do candidato</mat-label>
    <input maxlength="11" matInput formControlName="cpf" />
    <mat-error>CPF inválido</mat-error>
    <mat-hint>
      Preencha o CPF do tutor sem pontos e hífen. Ex: 00123456789
    </mat-hint>
    <mat-error>Cpf inválido</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input maxlength="50" matInput formControlName="email" />
    <mat-error *ngIf="tutorForm.controls['email'].hasError('email')"
      >Email inválido</mat-error
    >
    <mat-error *ngIf="tutorForm.controls['email'].hasError('required')"
      >É necessário preencher o email</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Telefone</mat-label>
    <input required matInput formControlName="telefone" />
    <mat-hint>Apenas números , incluindo o 9 após o DDD</mat-hint>
    <mat-error>Telefone inválido</mat-error>
  </mat-form-field>
  <div>Endereços</div>
  <fa-icon [icon]="faPlus" (click)="pushNovoEndereco()"></fa-icon>
  <div
    formArrayName="enderecos"
    *ngFor="let e of enderecos.controls; let i = index"
  >
    <div [formGroupName]="i">
      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <input required matInput formControlName="estado" />
        <mat-error>É necessário preencher o estado</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cidade</mat-label>
        <input required matInput formControlName="cidade" />
        <mat-error>É necessário preencher a cidade</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Logradouro</mat-label>
        <input required matInput formControlName="logradouro" />

        <mat-error>É necessário preencher o número do endereço</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Número</mat-label>
        <input required matInput formControlName="numero" />

        <mat-error>É necessário preencher o número do endereço</mat-error>
      </mat-form-field>

      <fa-icon
        [icon]="faTrash"
        *ngIf="enderecos.value.length > 1"
        (click)="deleteEndereco(i)"
      ></fa-icon>
    </div>
  </div>
  <button
    *ngIf="tutorForm.valid"
    class="apertar"
    mat-stroked-button
    (click)="editar()"
  >
    Finalizar Inscrição
  </button>
</form>
